@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@helper ListNodeWithDescendants(IPublishedContent node, int level)
{
    var descendants = node.Descendants();
    if (descendants.Any())
    {
        foreach (var descendant in descendants)
        {
            <div class="content" data-title="@Html.Encode(descendant.Name)" data-content="@Html.Encode(descendant.GetPropertyValue("content"))">&emsp; @descendant.Name</div>
        }
    }
}

@{
    
        <div class="accordion-option">
            <h3 class="title">Crawled Pages</h3>
        </div>
        <div class="clearfix"></div>
        <div id="accordion-list">
            @if (Model.Content.Children.Any())
            {
            <div class="panel-group" id="accordion">
                @{
                    foreach (var child in Model.Content.Children)
                    {
                        <h6 class="panel panel-default">
                            <span class="panel panel-default panel-heading">
                                <span class="panel-title">
                                    <a role="button" class="content" data-title="@Html.Encode(child.Name)" data-content="@Html.Encode(child.GetPropertyValue("content"))">
                                        @child.Name <span class="badge badge-default badge-pill pull-right">@child.Descendants().Count()</span>
                                    </a>
                                </span>
                            </span>
                        </h6>
                        <div class="panel panel-default">
                            <span class="panel-body">
                                @ListNodeWithDescendants(child, 1)
                            </span>
                        </div>

                    }
                }
            </div>
            }
        </div>
}
